bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
CommandPostWebsite.sln.DotSettings.user

# local notes
ADMIN-NOTES.md

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
